.item {
  background-color: var(--secondary-color);
  color: var(--txt-base-color);
  
  width: 15vw;
  height: 25vw;

  border: transparent solid .1vw;
  border-radius: .5vw;

  display: block;

  font-size: 1vw;
}

img {
  width: 100%;
  height: 75%;
  border-radius: .5vw;
}

span {
  display: block;
  overflow: hidden;
  text-align: center;
}

.tittle {
  font-size: 1.5vw;
  margin: .5vw;
}
