<div class="login_page">
  <div class="holder">
    <h3>Login</h3>
    <input [(ngModel)]="email" type="text" placeholder="email">
    <input [(ngModel)]="password" type="password" placeholder="password">
    <div class="settings">
      <label>
        <input type="checkbox">
        Remember Me
      </label>
      <a> Forgot password?</a>
    </div>
    <div class="login_btn" (click)="login()">
      <span> Login </span>
    </div>
    <div class="links">
      <a routerLink="/register">Register</a>
    </div>
  </div>
</div>
