.container {
  width: 100vw;
  height: 100vh;

  justify-content: center;
  align-content: center;
  text-align: center;

  font-size: var(--title-size);
  color: var(--txt-base-color);
}

span {
  display: block;
}
