:root {
  --title-size: 6vw;
}

.dark_mode {
  --bg-base-color: #060904;
  --txt-base-color: #e6eee2;
  --primary-color: #b1d89b;
  --secondary-color: #427624;
  --accent-color: #427624;
}

.light_mode {
  --bg-base-color: #f8faf5;
  --txt-base-color: #151d11;
  --primary-color: #366227;
  --secondary-color: #a8db8a;
  --accent-color: #5eb62b;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bg-base-color);

  overflow-x: hidden;
  overflow-y: auto;

  transition: all 400ms ease-in-out;
}
