.nav_bar {
  position: fixed;
  width: 100%;
  height: 7vh;
  display: flex;
  justify-content: right;
  align-items: center;
  text-align: center;
  background-color: var(--primary-color);
  color: var(--txt-base-color);
  font-size: 2vw;
  border-radius: 0 0 .6vw .6vw;
  box-shadow: var(--secondary-color) .2vw .3vw;
  opacity: 1;
  transform: translateY(0);
  transition: all 400ms ease-in-out;
  z-index: 99;
}

.hide_nav {
  opacity: 0;
  transform: translateY(-100%);
}

.nav_bar span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.icons {
  width: fit-content;
  height: 100%;
  padding: 1vw;
  display: flex;
  flex-direction: row;
  gap: 2vw;
  justify-content: center;
  align-items: center;
}

.icons > div {
  width: 1.5vw;
  height: 1.5vw;

  position: relative;

  transition: all 300ms ease-in-out;
}

.icons > div:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.icons .mode {
  height: 100%;
  background: url("/icons/moon.png") no-repeat center;
  background-size: contain;
}

.icons .cart {
  height: 100%;
  background: url("/icons/cart.png") no-repeat center;
  background-size: contain;
}

.icons .profile {
  height: 100%;
  background: url("/icons/profile.png") no-repeat center;
  background-size: contain;
}

.icons .cart .amount {
  position: absolute;
  display: flex;

  justify-content: center;
  align-items: center;
  text-align: center;

  font-size: clamp(.1vw, .5vw, 1vw);

  width: 80%;
  height: 80%;

  top: 60%;
  left: 60%;

  background-color: var(--accent-color);
  color: var(--txt-base-color);

  border: solid var(--secondary-color) .1vw;
  border-radius: 100%;
}

.icons .cart .amount > span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.hide {
  visibility: hidden;
}
