<app-welcome-screen></app-welcome-screen>
<div class="container">
  <app-item title="Shirt"
            description="WhiteTShirt"
            [price]="200"
            picture="./item_img/black_tshirt_temp.jpg">
  </app-item>

  <app-item title="Shirt"
            description="WhiteTShirt"
            [price]="200"
            picture="./item_img/black_tshirt_temp.jpg">
  </app-item>

  <app-item title="Shirt"
            description="WhiteTShirt"
            [price]="200"
            picture="./item_img/black_tshirt_temp.jpg">
  </app-item>

  <app-item title="Shirt"
            description="WhiteTShirt"
            [price]="200"
            picture="./item_img/black_tshirt_temp.jpg">
  </app-item>

  <app-item title="Shirt"
            description="WhiteTShirt"
            [price]="200"
            picture="./item_img/black_tshirt_temp.jpg">
  </app-item>

  <app-item title="Shirt"
            description="WhiteTShirt"
            [price]="200"
            picture="./item_img/black_tshirt_temp.jpg">
  </app-item>

  <app-item title="Shirt"
            description="WhiteTShirt"
            [price]="200"
            picture="./item_img/black_tshirt_temp.jpg">
  </app-item>
</div>
