<div class="trending_container">
  <app-item title="T-Shirt"
            description="Black T-shirt"
            [price]="200"
            picture="/item_img/black_tshirt_temp.jpg">
  </app-item>

  <app-item title="T-Shirt"
            description="Black T-shirt"
            [price]="200"
            picture="/item_img/black_tshirt_temp.jpg">
  </app-item>

  <app-item title="T-Shirt"
            description="Black T-shirt"
            [price]="200"
            picture="/item_img/black_tshirt_temp.jpg">
  </app-item>

  <app-item title="T-Shirt"
            description="Black T-shirt"
            [price]="200"
            picture="/item_img/black_tshirt_temp.jpg">
  </app-item>
</div>
