div {
  width: 100vw;
  height: 100vh;

  display: flex;

  justify-content: center;
  align-items: center;
  text-align: center;

  background-color: var(--bg-base-color);
  color: var(--txt-base-color);

  font-size: 7vw;
  font-weight: 600;
}
